body{font-family: 'Trebuchet MS', sans-serif; margin-top:50px;}

#a{display: flex; justify-content: center; text-align: center;}
#nav{width: 700px; height: 50px;}

#inf{border: 1px solid black; border-radius: 3px;}
#inf-tsk{border: 2px solid black; border-radius: 3px; margin: 5px; display: flex; text-align: left; justify-content: space-between;}
#inf-tsk-qnd{flex-direction: column;}
#inf-tsk-rbt{flex-direction: column; margin: 5px;}
#inf-tsk-rbt-b{display: flex; justify-content: end; margin: 5px; flex-wrap: nowrap;}

.b{display: flex; flex-direction: column;}
.infmargins{margin: 5px;}
.infbtns{font-family: 'Trebuchet MS', sans-serif; font-size: 16px; padding: 0px 15px; border-radius: 8px; margin: 0px 5px;}