{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>project</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/class.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/id.css'%}">
    </head>
    <body>
        <div id="a"><!--main-->
            <div class="b"><!--colum 1-->
                <div id="nav">NAVIGATION</div>
                <div id="inf">JOUNRAL
                    {% for quest in quests %}
                    <div id='inf-tsk'><!--task block-->
                        <div id='inf-tsk-qnd'><!--colum name-descr-->
                            <div class="infmargins">{{ quest.nameQu }}</div>
                            <div class="infmargins">{{ quest.comments }}</div>
                        </div>
                        <div id='inf-tsk-rbt'><!--colum reward-button-->
                            <div>Reward: {{ quest.exp }} XP </div>
                            <div id='inf-tsk-rbt-b'>
                                <button class='infbtns'>Done!</button>
                                <button class='infbtns'>Delete</button>
                            </div>
                        </div>
                        <div>
                            {% comment %} <p class='qus'>{{ quest.nameQu }} </p>
                            <p class='qus'>{{ quest.comments }} </p>
                            <p class='qus'>{{ quest.exp }} </p> {% endcomment %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="b"><!--colum 2-->
                <div id="per">
                    <div id="perpic">PERSON</div>
                    <div id="perbar">XP bar</div>
                </div>
                <div id="vid">
                    <button type='button' onclick="openForm()">button</button>
                    <p>button</p>
                    <p>button</p>
                    <p>button</p>
                    <p>button</p>
                    <p>button</p>
                    <p>button</p>
                </div>
            </div>
        </div>
        <div class="form-popup" id="myForm">
            <form method="POST" class="form-container"> 
            {% csrf_token %}         
              <label for="nameQu"><b>Задача</b></label>
              <input type="text" placeholder="Текущая задача" name="nameQu">
          
              <label for="comments"><b>Коментарий</b></label>
              <input type="text" placeholder="Коментарий" name="comments">

              <label for="exp"><b>Опыт</b></label>
              <input type="text" placeholder="Опыт" name="exp">
          
              <button type="submit" class="btn" value='POST'>Отправка формы</button>
              <button type="button" class="btn cancel" onclick="closeForm()">Закрыть</button>
            </form>
          </div>
          
          <script>
          function openForm() {
            document.getElementById("myForm").style.display = "block";
          }
          function closeForm() {
            document.getElementById("myForm").style.display = "none";
          }
          </script>          
    </body>
</html>