body{font-family: 'Trebuchet MS', sans-serif; margin-top:50px;}

.b{display: flex; flex-direction: column;}
.infmargins{margin: 5px;}
.infbtns{font-family: 'Trebuchet MS', sans-serif; font-size: 16px; padding: 0px 15px; border-radius: 8px; margin: 0px 5px;}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
}
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
.form-container .cancel {
    background-color: red;
}