#a{display: flex; justify-content: center; text-align: center;}
#nav{width: 700px; height: 50px;}

#inf{border: 1px solid black; border-radius: 3px;}
#inf-tsk{border: 2px solid black; border-radius: 3px; margin: 5px; display: flex; text-align: left; justify-content: space-between;}
#inf-tsk-qnd{flex-direction: column;}
#inf-tsk-rbt{flex-direction: column; margin: 5px;}
#inf-tsk-rbt-b{display: flex; justify-content: end; margin: 5px; flex-wrap: nowrap;}

#per{
    background-color: brown;
    margin: 16px;
    margin-bottom: 32px;
}

#vid{
    background-color:cornflowerblue;
    margin: 16px;
    padding: 16px;
}

#perpic{
    width: 200px;
    height: 200px;
    padding: 16px;
}

#perbar{
    padding: 16px;
}